*.zip
*.dta
*.docx
/PAK/PAK_2021_SARPS
*.xml
*.xlsx
*.stswp
*.pdf
*.log
*.xls
*.csv
*.TXT
*.db
*.rdf
*.Nesstar
*.smcl
*.jpg
*.dct
/AFG/AFG_2007_NRVA/AFG_2007_NRVA_v02_M/Programs/do_0708
/BGD/BGD_2022_HIES/BGD_2022_HIES_v02_M_v04_A_SARMD/Programs/old
/BGD/BGD_2022_HIES/BGD_2022_HIES_v02_M_v03_A_SARMD/Programs/old
/BGD/BGD_2016_HIES/BGD_2016_HIES_v01_M_v08_A_SARMD/Programs/old
/BGD/BGD_2016_HIES/BGD_2016_HIES_v01_M_v06_A_SARMD/Programs/old
*.doc
*.rar
*.fmt
*.RData
*.py
/PAK/PAK_2020_SARPS
/PAK/PAK_2015_HIES/PAK_2015_HIES_v02_M_v01_A_SARMD/Programs/old
*.sav
/PAK/PAK_2018_HIES/PAK_2018_HIES_v02_M_v01_A_SARMD/Programs/old
PAK/PAK_2018_HIES/PAK_2018_HIES_v02_M/Programs/PAK_2018_HIES_v01_M.do
/PAK/PAK_2018_HIES/PAK_2018_HIES_v01_M_v03_A_SARMD/Programs/old
/PAK/PAK_2015_HIES/PAK_2015_HIES_v02_M/Doc
/PAK/PAK_2015_HIES/PAK_2015_HIES_v02_M/Data
/PAK/PAK_2015_HIES/PAK_2015_HIES_v01_M_v06_A_SARMD/Programs/old
/PAK/PAK_2015_HIES/PAK_2015_HIES_v01_M_v05_A_SARMD/Programs/old
/PAK/PAK_2015_HIES/PAK_2015_HIES_v01_M/Doc
/PAK/PAK_2015_HIES/PAK_2015_HIES_v01_M/Data
/PAK/PAK_2013_HIES/PAK_2013_HIES_v02_M_v01_A_SARMD/Programs/old
/PAK/PAK_2013_HIES/PAK_2013_HIES_v02_M/Data collection
/PAK/PAK_2013_HIES/PAK_2013_HIES_v01_M_v07_A_SARMD/Work
/PAK/PAK_2013_HIES/PAK_2013_HIES_v01_M_v07_A_SARMD/Programs/old
/PAK/PAK_2013_HIES/PAK_2013_HIES_v01_M_v06_A_SARMD/Work
/PAK/PAK_2013_HIES/PAK_2013_HIES_v01_M_v06_A_SARMD/Programs/old
/PAK/PAK_2013_HIES/PAK_2013_HIES_v01_M_v05_A_SARMD/Work
/PAK/PAK_2013_HIES/PAK_2013_HIES_v01_M_v04_A_SARMD/Work
/PAK/PAK_2013_HIES/PAK_2013_HIES_v01_M_v03_A_SARMD/Work
/PAK/PAK_2013_HIES/PAK_2013_HIES_v01_M_v02_A_SARMD/Work
/PAK/PAK_2013_HIES/PAK_2013_HIES_v01_M/Data
/PAK/PAK_2013_HIES/PAK_2013_HIES_v01_M/Data collection
/PAK/PAK_2011_HIES/PAK_2011_HIES_v02_M_v01_A_SARMD/Programs/old
/AFG/AFG_2007_NRVA/AFG_2007_NRVA_v02_M_v06_A_SARMD/Programs/old
/AFG/AFG_2007_NRVA/AFG_2007_NRVA_v02_M_v07_A_SARMD/Programs/old
/AFG/AFG_2011_NRVA/AFG_2011_NRVA_v02_M_v07_A_SARMD/Programs/old
/AFG/AFG_2013_LCS/AFG_2013_LCS_v01_M_v04_A_SARMD/Programs/old
/AFG/AFG_2016_LCS/AFG_2016_LCS_v01_M_v03_A_SARMD/Programs/old
/PAK/PAK_2011_HIES/PAK_2011_HIES_v02_M/Data collection
/PAK/PAK_2011_HIES/PAK_2011_HIES_v01_M_v07_A_SARMD/Programs/old
/PAK/PAK_2011_HIES/PAK_2011_HIES_v01_M_v06_A_SARMD/Programs/old
/PAK/PAK_2011_HIES/PAK_2011_HIES_v01_M/Data collection
/PAK/PAK_2010_HIES/PAK_2010_HIES_v01_M_v07_A_SARMD/Programs/old
/PAK/PAK_2010_HIES/PAK_2010_HIES_v01_M_v06_A_SARMD/Programs/old
/PAK/PAK_2010_HIES/PAK_2010_HIES_v01_M_v01_A_SARMD/Programs/Old
/PAK/PAK_2007_HIES/PAK_2007_HIES_v02_M_v04_A_SARMD/Programs/old
/PAK/PAK_2007_HIES/PAK_2007_HIES_v02_M_v03_A_SARMD/Programs/old
/PAK/PAK_2007_HIES/PAK_2007_HIES_v02_M/Doc
/PAK/PAK_2005_HIES/PAK_2005_HIES_v02_M_v04_A_SARMD/Programs/old
